@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --peg-red: #f1200e;
  --peg-black: #373338;
  --flag-white: #ddd7fc;
  --flag-red: #f2080b;
  --color-blue: #23a6d5;
}

html {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Main container - wrapper*/
.main-wrapper {
  padding: 1.6rem;
  height: 750px;
  width: 430px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 7px;
}

.wrapper {
  position: relative;
}

.game-wrapper {
  display: none;
}

.header-title {
  color: var(--peg-black);
  font-size: 3rem;
  text-align: center;
}

.game-menu {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  align-content: center;
}

/* New game options*/
.game-options {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.game-difficulty {
  display: flex;
}

.game-rules, .credits, .high-score-display {
  width: 90%;
  height: 100%;
  margin: 3rem;
}

.game-rules p, .credits p {
  margin: 1rem 0;
  line-height: 1.3rem;
}

.btn-new-game {
  width: 170px;
  height: 50px;
  border: none;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  color: var(--flag-white);
  border-radius: 0.3rem;
  background-color: var(--peg-black);
  cursor: pointer;
}

.btn-new-game:hover {
  color: var(--peg-black);
  background-color: var(--flag-white);
}

.high-score-display h2 {
  font-size: 2rem;
  border-bottom: 0.2rem solid var(--peg-black);
}

.high-score-item {
  font-size: 1.5rem;
}

/*NUMBER PICKER*/
.number-picker-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.choice {
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--peg-black);
  border-radius: 2rem;
  margin: 0 0.15rem;
}

.choice-btn {
  height: 1.8rem;
  width: 1.8rem;
  border: 2px solid var(--peg-black);
  border-radius: 2.5rem;
  margin: 0 0.15rem;
  background-color: var(--peg-purple);
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
  display: inline-flex;
}

/*contol btns*/
.control-btn {
  height: 20px;
  width: 100px;
  color: var(--flag-white);
  background-color: var(--color-blue);
  font-size: 0.9rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid var(--peg-black);
  cursor: pointer;
  margin-left: 0.5rem;
}

.game-try {
  min-width: 15rem;
  min-height: 2.8rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
  border: 0.1rem solid var(--peg-black);
}

.choice-row,
.occurrence-status-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-row {
  width: 75%;
}

.occurrence-status-row {
  width: 25%;
}

.current-turn {
  background: linear-gradient(30deg, var(--color-blue), var(--flag-white));
}

.played-turn {
  background: none;
}

.choice-number {
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.choice-number span {
  font-size: 2rem;
  font-weight: bold;
}

.occurrence-status-flag {
  width: 0.2rem;
  height: 0.2rem;
  padding: 2px;
  border-radius: 1rem;
}

/* highscors */
.high-score-item {
  display: flex;
  justify-content: space-between;
}

/*overlay*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #373338;
  filter: blur(10rem);
  z-index: 5;
}

.alert-view label {
  display: block;
}

.alert-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-width: 25rem;
  min-height: 7rem;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

#name {
  font-family: inherit;
  font-weight: 800;
  border: none;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.btn-submit-highscore {
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  position: relative;
  bottom: 1px;
  cursor: pointer;
}

.btn-submit-highscore:hover,
.btn-submit-highscore:active {
  background-color: var(--peg-green);
}

.btn-close-alert {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  background: none;
  border: none;
  color: var(--flag-white);
  font-size: 1.5rem;
}

.btn-close-alert:hover,
.btn-close-alert:active {
  background-color: var(--flag-white);
  color: var(--flag-black);
}

.message,
label {
  color: var(--flag-white);
  font-size: 1.3rem;
}

.secret-container {
  display: flex;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 786px) {
  html {
    font-size: 14px;
  }

  .main-wrapper {
    height: 90%;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .header-section,
  .new-game,
  .game-board-view,
  .number-picker-view {
    padding-bottom: 1rem;
  }
}
